body {
  margin: 0px;
  font-family: "Avenir";
}

header {
  height: 17vh;
  background-color: #9B9B8C;
  position: relative;
}

header div {
  font-size: 26px;
  color: #F5F5F4;
  position: absolute;
  bottom: 0px;
  left: 35px;
}

main {
  height: 77vh;
  background-color: #FFFFFF;
}

#albums {
  border-bottom: 9px solid #DDDDDD;
  height: 98px;
}

.cover {
  height: 58px;
  width: 58px;
  display: inline-block;
  margin: 8px 14px;
}

.cover:nth-child(1) {
    margin-left: 37px;
}

#playlist {
  border: 2px solid #000000;
  background-color: #E8E8E8;
  height: 149px;
  width: 710px;
  margin: 25px 42px 12px;
  padding: 3px;
  color: #292929;
}

button {
  background-color: #343425;
  color: #C4C4C0;
  border-radius: 5px;
  border: none;
  height: 38px;
  width: 175px;
  margin-left: 11px;
  font-size: 18px;
}

button:nth-child(1) {
  margin: 6px 0px 0px 42px;
}

footer {
  height: 6vh;
  background-color: #666658;
  position: relative;
}

small {
  display:inline-block;
  margin: 5px 45px;
  font-size: 18px;
  color: #CFCFCB;
}

/*

header {
  height: 6vh;
  background-color: #9B9B8C;
  border-bottom: 1px solid black;
}

main {
  height: 88vh;
  background-color: #EEEEEE;
}

main div {
  width: 47%;
  height: 100%;
  float:left;
  position: relative;
}

#box {
  width: 220px;
  height: 105px;
  font-family: "Avenir";
  text-align:center;
  color: #470062;
  font-size: 45px;
  position: relative;
  left: 45%;
  top: 45%;
  margin: -52.5px 0 0 -110px;
}

button {
  width: 170px;
  height: 35px;
  background-color: #353526;
  border: none;
  border-radius: 5px;
  color: #CFCFCB;
  font-size: 17px;
  position: absolute;
  bottom: 5px;
  right: 24px;
}

#right {
  width:53%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  opacity: .19;
  position: absolute;
  z-index: 0;
}

#album-container {
  width: 150px;
  position: relative;
  left: 50%;
  margin: 0px -73.5px;
  overflow: hidden;
}

.album {
  width: 150px;
  height:150px;
  display: block;
  margin: 15px 0px 0px;
}
}*/
