body {
  margin: 0px;
}

header {
  height: 6vh;
  background-color: #9B9B8C;
  border-bottom: 1px solid black;
}

main {
  height: 88vh;
  background-color: #EEEEEE;
}

main div {
  width: 47%;
  height: 100%;
  float:left;
  position: relative;
}

#box {
  /*width: 220px;*/
  width: 350px;
  height: 105px;
  font-family: "Avenir";
  text-align:center;
  color: #470062;
  font-size: 45px;
  position: relative;
  left: 45%;
  top: 45%;
  margin: -52.5px 0 0 -175px;
}

button {
  width: 170px;
  height: 35px;
  background-color: #353526;
  border: none;
  border-radius: 5px;
  color: #CFCFCB;
  font-size: 17px;
  position: absolute;
  bottom: -55px;
  right: 90px;
}

#right {
  width:53%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  opacity: .19;
  position: absolute;
  z-index: 0;
}

#album-container {
  width: 150px;
  position: relative;
  left: 50%;
  margin: 0px -73.5px;
  overflow: scroll;
}

.album {
  width: 150px;
  height:150px;
  display: block;
  margin: 15px 0px 0px;
}

footer {
  height: 6vh;
  background-color: #666658;
  position: relative;
}

small {
  display:inline-block;
  margin: 5px 40px;
  font-size: 17px;
  font-family: "Avenir";
  color: #CFCFCB;
}
