body {
  margin: 0px;
  font-family: "Avenir";
  overflow:hidden;
}

header {
  height: 17vh;
  background-color: #9B9B8C;
  position: relative;
}

header div {
  font-size: 26px;
  color: #F5F5F4;
  position: absolute;
  bottom: 0px;
  left: 35px;
}

main {
  height: 77vh;
  background-color: #FFFFFF;
  overflow: scroll;
}

#albums {
  border-bottom: 9px solid #DDDDDD;
  min-width: 1200px;
  height: 98px;
  overflow:scroll;
}

#insideAlbums {
  width: 1800px;
}

.cover {
  height: 58px;
  width: 58px;
  display: inline-block;
  margin: 8px 14px;
}

.cover:nth-child(1) {
    margin-left: 37px;
}

#bin {
  width: 1200px;
  position: relative;
}

.playlist {
  height: 155px;
  display: inline-block;
  margin: 25px 0px 12px;
}

.choice {
  width: 300px;
  margin-left: 39px;
  text-align: left;
  vertical-align: top;
  overflow:scroll;
  position: relative;
  padding: 3px;
}

img.playlist {
  height: 75px;
  margin-bottom: 60px;
}

.tracks {
  border: 2px solid #000000;
  background-color: #E8E8E8;
  color: #292929;
  overflow: scroll;
  width: 230px
}

.tracks-box {
  width: 450px;
}

.song {
  border-bottom: 1px solid #C9C9C9;
  padding: 3px;
}

.selected {
  background-color: #3D5AB5;
}

.preview {
  width: 250px;
  text-align: left;
  vertical-align: top;
  margin-left: 20px;
}

audio {
  margin-top: 20px;
}


button {
  background-color: #343425;
  color: #C4C4C0;
  border-radius: 5px;
  border: none;
  height: 38px;
  width: 175px;
  margin-left: 11px;
  font-size: 18px;
}

button:nth-child(1) {
  margin: 6px 0px 0px 42px;
}

#delete {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 360px;
  bottom: -30px;
  background-color: #E8E8E8;
  border: 1px solid #000000;
  color: #9C291D;
  font-size: 50px;
  padding: 0px;
}

#delete div {
  margin-top: -17px;
}

footer {
  height: 6vh;
  background-color: #666658;
  position: relative;
}

small {
  display:inline-block;
  margin: 5px 45px;
  font-size: 18px;
  color: #CFCFCB;
}
